@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap");

:root {
  --primary-color: hsla(203 100% 13% 1);
  --secondary-color: hsl(330 87% 17%);
  --fruit-color: tomato;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  padding: 0;
  margin: 0;
}

/* Start Header Section */
header {
  height: 100vh;
  background: url(../asstes/img/banner/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Start */
/* End Header Section  */
